<footer class="footer-wrapper footer-layout4 bg-theme" data-bg-src="@@webRoot/assets/img/bg/footer-bg-4-1.png">
    <div class="shape1"><img src="@@webRoot/assets/img/shape/footer-shape-5-1.png" alt="shape"></div>
    <div class="widget-area">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-md-3 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">Help Desk</h3>
                        <div class="vs-widget-about"><a href="tel:+61 412783132" class="footer-number1">+61 412783132</a>
                            <p class="footer-address2"><i class="fal fa-map-marker-alt"></i>Unit 1/9 Boag Rd, Morley WA 6062</p><a href="mailto:ebizco.au@gmail.com" class="footer-mail1"><i class="fal fa-envelope"></i>ebizco.au@gmail.com</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-xl-auto">
                    <div class="widget widget_nav_menu footer-widget">
                        <h3 class="widget_title">Useful Links</h3>
                        <div class="menu-all-pages-container">
                            <ul class="menu">
                                <li><a href="#">Our Compnay</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Latest News</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 col-xl-auto">
                    <div class="widget footer-widget">
                        <h3 class="widget_title">About Us</h3>
                        <div class="vs-widget-about">
                            <p class="footer-text">A software development company in Canberra, Australia since 1998.  Our expertise are in Web Apps, Mobile Apps, Manufacturing Automation, backend data processing, Embedded Control System Design, IoT development with adaptive Machine Learning and Computer Vision.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright-wrap">
            <div class="row gy-2 align-items-center justify-content-between">
                <div class="col-auto d-none d-lg-block">
                    <div class="copyright-logo"><a href="/"><img src="@@webRoot/assets/img/icon/logowhite.png" alt="Logo"></a></div>
                </div>
                <div class="col-auto">
                    <p class="copyright-text">Copyright <i class="fal fa-copyright"></i> 2023 <a class="text-white" href="/">eBizCo</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<a href="#" class="scrollToTop scroll-btn"><i class="far fa-arrow-up"></i></a>
<script src="@@webRoot/assets/js/vendor/jquery-3.6.0.min.js"></script>
<script src="@@webRoot/assets/js/app.min.js"></script>
<script src="@@webRoot/assets/js/layerslider.utils.js"></script>
<script src="@@webRoot/assets/js/layerslider.transitions.js"></script>
<script src="@@webRoot/assets/js/layerslider.kreaturamedia.jquery.js"></script>
<script src="@@webRoot/assets/js/main.js"></script>
