<div class="preloader"><button class="vs-btn preloaderCls">Cancel Preloader</button>
    <div class="preloader-inner"><span class="loader"></span></div>
</div>
<div class="vs-menu-wrapper">
    <div class="vs-menu-area text-center"><button class="vs-menu-toggle"><i class="fal fa-times"></i></button>
        <div class="mobile-logo"><a href="/"><img src="@@webRoot/assets/img/icon/logo.png" alt="eBizCo" class="logo"></a></div>
        <div class="vs-mobile-menu">
            <ul>
                <li><a href="/index">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/blog">Blog</a> </li>
                <li><a href="/privacy">Privacy Statement</a>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="sidemenu-wrapper d-none d-lg-block">
    <div class="sidemenu-content"><button class="closeButton sideMenuCls"><i class="far fa-times"></i></button>
        <div class="widget">
            <div class="vs-widget-about">
                <div class="footer-logo"><a href="/"><img src="@@webRoot/assets/img/icon/logo.png" alt="eBizCo" class="logo"></a></div>
                <p class="footer-text">Intrinsicly evisculate emerging cutting edge scenarios redefine future-proof e-markets demand line</p>
                <div class="footer-social"><a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i class="fab fa-instagram"></i></a> <a href="#"><i class="fab fa-behance"></i></a> <a href="#"><i class="fab fa-youtube"></i></a></div>
            </div>
        </div>
        <div class="widget">
            <h4 class="widget_title">Gallery Posts</h4>
            <div class="sidebar-gallery">
                <div class="gallery-thumb"><img src="@@webRoot/assets/img/widget/gal-1-1.jpg" alt="Gallery Image" class="w-100"></div>
                <div class="gallery-thumb"><img src="@@webRoot/assets/img/widget/gal-1-2.jpg" alt="Gallery Image" class="w-100"></div>
                <div class="gallery-thumb"><img src="@@webRoot/assets/img/widget/gal-1-3.jpg" alt="Gallery Image" class="w-100"></div>
                <div class="gallery-thumb"><img src="@@webRoot/assets/img/widget/gal-1-4.jpg" alt="Gallery Image" class="w-100"></div>
                <div class="gallery-thumb"><img src="@@webRoot/assets/img/widget/gal-1-5.jpg" alt="Gallery Image" class="w-100"></div>
                <div class="gallery-thumb"><img src="@@webRoot/assets/img/widget/gal-1-6.jpg" alt="Gallery Image" class="w-100"></div>
            </div>
        </div>
        <div class="widget">
            <h3 class="widget_title">Office Maps</h3>
            <div class="footer-map"><iframe title="office location map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d163720.11965853968!2d8.496481908353967!3d50.121347879150306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47bd096f477096c5%3A0x422435029b0c600!2sFrankfurt%2C%20Germany!5e0!3m2!1sen!2sbd!4v1651732317319!5m2!1sen!2sbd" width="200" height="180" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
        </div>
    </div>
</div>
<header class="vs-header header-layout5">
    <div class="header-shape1"></div>
    <div class="header-top">
        <div class="container">
            <div class="row align-items-center justify-content-between gx-20">
                <div class="col d-none d-md-block">
                    <div class="header-links style-white">
                        <ul>
                            <li><i class="far fa-envelope"></i><a href="mailto:ebizco.au@gmail.com">ebizco.au@gmail.com</a></li>
                            <li><i class="far fa-map-marker-alt"></i>Unit 1/9 Boag Rd Morley WA 6062</li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="header-dropdown style-white"><a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink1" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-globe"></i>English</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                            <li><a href="#">Vietnamese</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="header-social style-white"><a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i class="fab fa-twitter"></i></a> <a href="#"><i class="fab fa-instagram"></i></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="sticky-wrapper">
        <div class="sticky-active">
            <div class="menu-area">
                <div class="container">
                    <div class="row align-items-center justify-content-between gx-40">
                        <div class="col-auto">
                            <div class="header-logo"><a href="/"><img src="@@webRoot/assets/img/icon/logo.png" alt="eBizCo" class="logo"></a></div>
                        </div>
                        <div class="col text-end text-xl-center">
                            <nav class="main-menu menu-style4 d-none d-lg-block">
                                <ul>
                                    <li><a href="/index">Home</a></li>
                                    <li><a href="/about">About Us</a></li>
                                    <li><a href="/blog">Blog</a> </li>
                                    <li><a href="/privacy">Privacy Statement</a>
                                    <li><a href="/contact">Contact Us</a></li>
                                </ul>
                            </nav><button class="vs-menu-toggle d-inline-block d-lg-none"><i class="fal fa-bars"></i></button>
                        </div>
                        <div class="col-auto d-none d-xxxl-block">
                            <div class="header-info style2">
                                <div class="header-info_icon"><img src="@@webRoot/assets/img/icon/tel-1-2.png" alt="call icon"></div>
                                <div class="media-body"><span class="header-info_label">Call Now</span>
                                    <div class="header-info_link"><a href="tel:+61 412783132">+61 412783132</a></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-auto d-none d-xl-block">
                            <div class="header-btns"><a href="/contact" class="vs-btn style7">Make Appointment<i class="far fa-arrow-right"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>